FlexboxLayout {
  justify-content: center;
  align-items: center;
  background: #DE6262;
  background: linear-gradient(-225deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);
}
StackLayout {
  width: 300;
  padding: 10 16;
  background-color: #f0f0f0;
}

Image {
  margin-bottom: 20;
  height: 70;
}

Button, TextField {
  margin-bottom: 10;
}

.btn-primary {
  background-color:#0075d6;
  margin-left: 0;
  margin-right: 0;
}

TextField {
  placeholder-color: #C4AFB4;
  color: black;
}

.dark {
  background-color: #301217;
}
.dark TextField {
  color:  #C4AFB4;
}
