<ActionBar title="Home" class="action-bar">
</ActionBar>

<GridLayout rows="*" height="1500px">
    <RadSideDrawer>
        <StackLayout tkDrawerContent backgroundColor="gray">
            <StackLayout height="56" style="text-align: center; vertical-align: center;">
                <Label text="Navigation Menu"></Label>
            </StackLayout>
            <StackLayout>
                <Label text="Primary" padding="10" backgroundColor="lightgray"></Label>
                <Label text="Social" padding="10"></Label>
                <Label text="Promotions" padding="10"></Label>
                <Label text="Labels" padding="10" backgroundColor="lightgray"></Label>
                <Label text="Important" padding="10"></Label>
                <Label text="Starred" padding="10"></Label>
                <Label text="Sent Mail" padding="10"></Label>
                <Label text="Drafts" padding="10"></Label>
            </StackLayout>
            <Label text="Close" color="lightgray" padding="10" style="horizontal-align: center"
                (tap)="onCloseDrawerTap()"></Label>
        </StackLayout>
        <StackLayout tkMainContent>
            <ListView [items]= "metrocard"
        </StackLayout>
    </RadSideDrawer>
</GridLayout>