<section class="login-block">
  <div class="container">
      <div class="row">
  
  
          <div class="col-md-8 banner-sec">
  
      </div>
          <div class="col-md-4 login-sec">
              <h2 class="text-center">Register Now</h2>
      <form>
      <div class="form-group input-group">
          <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-user"></i> </span>
           </div>
          <input name="" class="form-control" placeholder="Full name" type="text">
      </div>
      <div class="form-group input-group">
          <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
           </div>
          <input name="" class="form-control" placeholder="Email address" type="email">
      </div>
      <div class="form-group input-group">
          <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
          </div>
          <select class="custom-select" style="max-width: 120px;">
            <option selected="">+347</option>
            <option value="1">+917</option>
            <option value="2">+646</option>
            <option value="3">+929</option>
        </select>
        <input name="" class="form-control" placeholder="Phone number" type="text">
    </div>

    <div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
        </div>
        <input class="form-control" placeholder="Create password" type="password">
    </div>
    <div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
        </div>
        <input class="form-control" placeholder="Repeat password" type="password">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block"> Create Account  </button>
    </div>
    <p class="text-center">Have an account? <a href="/login/">Log In</a> </p>
</form>
       </div>
  </div>
</div>
</section>
  